<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Tweetalizer</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><i class="fa fa-twitter"></i> | Sign in with Twitter</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="table-parent w100">
	<div class="table-child w100">
		<div class="text-center w100">
			<h1><i class="fa fa-fighter-jet cust-jet"></i>Be the master influencer.</h1>
			<p class="bottom10">Best weapon to annihilate unbounded & highly targeted audience on Twitter.</p>
			<p class="bottom40">Fast. Powerfull. Clean.</p>
			<form role="form">
				<%= link_to user_omniauth_authorize_path(:twitter) do %>
					<button type="button" class="btn btn-warning btn-lg cust-lg"><i class="fa fa-twitter"></i> | Sign in with Twitter</button>
				<% end %>
			</form>
		</div>
	</div>
</div>
