<div class="table-parent w100">
	<div class="table-child w100">
		<div class="text-center w100">
			<h1><i class="fa fa-fighter-jet cust-jet"></i>Be the master influencer.</h1>
			<p class="bottom10">Best weapon to annihilate unbounded & highly targeted audience on Twitter.</p>
			<p class="bottom40">Fast. Powerfull. Clean.</p>
			<form role="form">
				<%= link_to user_omniauth_authorize_path(:twitter) do %>
					<button type="button" class="btn btn-warning btn-lg cust-lg"><i class="fa fa-twitter"></i> | Sign in with Twitter</button>
				<% end %>
			</form>
		</div>
	</div>
</div>
