<div class="table-parent w100">
	<div class="table-child w100">
		<div class="text-center w100">
			<h1 class="bottom20">Stop wasting time. Act.</h1>
			<form role="form">
				<%= link_to raw('Create new campaign<i class="fa fa-plus left10"></i>'), new_campaign_path, :class => "btn btn-warning btn-lg cust-lg" %>
					
				<%= link_to raw('Manage my campaign<i class="fa fa-edit left10"></i>'), campaigns_path, :class => "btn btn-info btn-lg cust-lg" %>
			</form>
		</div>
	</div>
</div>