<div class="container-fluid" style="margin-top: 50px;">
	<div class="row-fluid">
		<div class="col-md-6 bottom10 top10">
			<div class="cust-bb">
				<div class="campaign-title">
					<h1 class="top10">Campaign Name</h1>
					<div class="delete-btn"><button type="button" class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>BDD</th>
							<th>Followers</th>
							<th>Followers Backs</th>
							<th>Average Social Authority</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Keword1</td>
							<td>40.000</td>
							<td>1.900</td>
							<td>200</td>
							<td>44,6</td>
						</tr>
						<tr>
							<td>Keword2</td>
							<td>20.000</td>
							<td>2.100</td>
							<td>400</td>
							<td>60,4</td>
						</tr>
						<tr>
							<td>Keword3</td>
							<td>62.000</td>
							<td>3.800</td>
							<td>800</td>
							<td>37,1</td>
						</tr>
					</tbody>
				</table>
				<div class="camp-pref prl15 pt20">
					<p><i class="fa fa-cogs"></i> Settings</p>
					<div class="input-group bottom20">
						<input type="text" class="form-control">
						<span class="input-group-addon">followers/day</span>
					</div>
					<div class="input-group bottom20">
						<input type="text" class="form-control">
						<span class="input-group-addon">unfollows/day</span>
					</div>
					<div class="input-group bottom20">
						<span class="input-group-addon">Unfollow if he don't follows back after</span>
						<input type="text" class="form-control">
						<span class="input-group-addon">days</span>
					</div>
					<div class="input-group bottom20">
						<span class="input-group-addon">Even if he follows back, unfollow after</span>
						<input type="text" class="form-control">
						<span class="input-group-addon">day</span>
					</div>
					<div class="text-center">
						<a href="#"><div class="action-btn camp-active"><i class="fa fa-stop"></i></div></a>
						<a href="#"><div class="action-btn"><i class="fa fa-play ml4"></i></div></a>
						<a href="#"><div class="action-btn"><i class="fa fa-pause"></i></div></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 bottom10 top10">
			<div class="cust-bb">
				<div class="campaign-title">
					<h1 class="top10">Campaign Name</h1>
					<div class="delete-btn"><button type="button" class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>BDD</th>
							<th>Followers</th>
							<th>Followers Backs</th>
							<th>Average Social Authority</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Keword1</td>
							<td>40.000</td>
							<td>1.900</td>
							<td>200</td>
							<td>44,6</td>
						</tr>
						<tr>
							<td>Keword2</td>
							<td>20.000</td>
							<td>2.100</td>
							<td>400</td>
							<td>60,4</td>
						</tr>
						<tr>
							<td>Keword3</td>
							<td>62.000</td>
							<td>3.800</td>
							<td>800</td>
							<td>37,1</td>
						</tr>
					</tbody>
				</table>
				<div class="camp-pref prl15 pt20">
					<p><i class="fa fa-cogs"></i> Settings</p>
					<div class="input-group bottom20">
						<input type="text" class="form-control">
						<span class="input-group-addon">followers/day</span>
					</div>
					<div class="input-group bottom20">
						<input type="text" class="form-control">
						<span class="input-group-addon">unfollows/day</span>
					</div>
					<div class="input-group bottom20">
						<span class="input-group-addon">Unfollow if he don't follows back after</span>
						<input type="text" class="form-control">
						<span class="input-group-addon">days</span>
					</div>
					<div class="input-group bottom20">
						<span class="input-group-addon">Even if he follows back, unfollow after</span>
						<input type="text" class="form-control">
						<span class="input-group-addon">day</span>
					</div>
					<div class="text-center">
						<a href="#"><div class="action-btn"><i class="fa fa-stop"></i></div></a>
						<a href="#"><div class="action-btn camp-active"><i class="fa fa-play ml4"></i></div></a>
						<a href="#"><div class="action-btn"><i class="fa fa-pause"></i></div></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 bottom10 top10">
			<div class="cust-bb">
				<div class="campaign-title">
					<h1 class="top10">Campaign Name</h1>
					<div class="delete-btn"><button type="button" class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>BDD</th>
							<th>Followers</th>
							<th>Followers Backs</th>
							<th>Average Social Authority</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Keword1</td>
							<td>40.000</td>
							<td>1.900</td>
							<td>200</td>
							<td>44,6</td>
						</tr>
						<tr>
							<td>Keword2</td>
							<td>20.000</td>
							<td>2.100</td>
							<td>400</td>
							<td>60,4</td>
						</tr>
						<tr>
							<td>Keword3</td>
							<td>62.000</td>
							<td>3.800</td>
							<td>800</td>
							<td>37,1</td>
						</tr>
					</tbody>
				</table>
				<div class="camp-pref prl15 pt20">
					<p><i class="fa fa-cogs"></i> Settings</p>
					<div class="input-group bottom20">
						<input type="text" class="form-control">
						<span class="input-group-addon">followers/day</span>
					</div>
					<div class="input-group bottom20">
						<input type="text" class="form-control">
						<span class="input-group-addon">unfollows/day</span>
					</div>
					<div class="input-group bottom20">
						<span class="input-group-addon">Unfollow if he don't follows back after</span>
						<input type="text" class="form-control">
						<span class="input-group-addon">days</span>
					</div>
					<div class="input-group bottom20">
						<span class="input-group-addon">Even if he follows back, unfollow after</span>
						<input type="text" class="form-control">
						<span class="input-group-addon">day</span>
					</div>
					<div class="text-center">
						<a href="#"><div class="action-btn"><i class="fa fa-stop"></i></div></a>
						<a href="#"><div class="action-btn"><i class="fa fa-play ml4"></i></div></a>
						<a href="#"><div class="action-btn camp-active"><i class="fa fa-pause"></i></div></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 bottom10 top10">
			<div class="cust-bb">
				<div class="campaign-title">
					<h1 class="top10">Campaign Name</h1>
					<div class="delete-btn"><button type="button" class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>BDD</th>
							<th>Followers</th>
							<th>Followers Backs</th>
							<th>Average Social Authority</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Keword1</td>
							<td>40.000</td>
							<td>1.900</td>
							<td>200</td>
							<td>44,6</td>
						</tr>
						<tr>
							<td>Keword2</td>
							<td>20.000</td>
							<td>2.100</td>
							<td>400</td>
							<td>60,4</td>
						</tr>
						<tr>
							<td>Keword3</td>
							<td>62.000</td>
							<td>3.800</td>
							<td>800</td>
							<td>37,1</td>
						</tr>
					</tbody>
				</table>
				<div class="camp-pref prl15 pt20">
					<p><i class="fa fa-cogs"></i> Settings</p>
					<div class="input-group bottom20">
						<input type="text" class="form-control">
						<span class="input-group-addon">followers/day</span>
					</div>
					<div class="input-group bottom20">
						<input type="text" class="form-control">
						<span class="input-group-addon">unfollows/day</span>
					</div>
					<div class="input-group bottom20">
						<span class="input-group-addon">Unfollow if he don't follows back after</span>
						<input type="text" class="form-control">
						<span class="input-group-addon">days</span>
					</div>
					<div class="input-group bottom20">
						<span class="input-group-addon">Even if he follows back, unfollow after</span>
						<input type="text" class="form-control">
						<span class="input-group-addon">day</span>
					</div>
					<div class="text-center">
						<a href="#"><div class="action-btn camp-active"><i class="fa fa-stop"></i></div></a>
						<a href="#"><div class="action-btn"><i class="fa fa-play ml4"></i></div></a>
						<a href="#"><div class="action-btn"><i class="fa fa-pause"></i></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
